################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/e2a724b3-1a7c-40fc-a12c-c411ccdea866/v15/.suo
/.vs
