 @using Microsoft.AspNetCore.Mvc.Rendering
@using Nop.Web.Models.Checkout 
@model Nop.Web.Models.Checkout.CheckoutShippingAddressModel

<div>
    @*<label for="billing-address-select">@T("Checkout.SelectBillingAddressOrEnterNewOne")</label>*@
    <div class="storedAddresses row">

        @foreach (var address in Model.ExistingAddresses)
        {
            // address.CustomProperties["IsBilling"] = isBilling;
            //    address.AvailableCountries = (IList<SelectListItem>)ViewData["AvailableCountries"];
            @Html.Partial("~/Plugins/Aperture.AptCheckout/Views/Partials/_storedAddress.cshtml", address)
        }
        
        <div class="col-md-3">
            <a href="javascript:;" data-modalid="newAddrModal" class="_aptOpenAddrModal">+ new address</a> 
        </div>
          
      

    </div>
</div>

