@using Nop.Web.Framework.UI

@{
    Html.AddCssFileParts("~/Plugins/Aperture.EasyCheckout/Content/bootstrap/bootstrap.css");
    Html.AddScriptParts("~/Plugins/Aperture.EasyCheckout/Content/bootstrap/alert.js");
    Layout = "~/Views/Shared/_ColumnsOne";
}

<h1>Checkout</h1>


<div>
    
    
    
    

</div>